* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Open Sans", sans-serif;}

.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header ,h1 {
   margin-left: 25%;
   font-size:x-large;
 
   
}
.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 4px solid whitesmoke;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(192, 228, 228);
}

button {
    border: 1px solid rgb(105, 197, 255);
    border-radius: 5px;
    background-color: rgb(227, 248, 255);
    color: rgb(105, 197, 255);
    text-align: center;
    padding: 5px;
  }
#task-input {
    border: 1px solid black;
    border-radius: 5px;
    color:  rgb(105, 197, 255) ;
    text-align: center;
    padding: 5px;
}
.form{
    padding-top: 20px;
}
.check-box{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-top: 20px;

}
      
:checked + label {
    text-decoration: line-through;
    color: grey;

}